.App {
    background-color: #003049;
    height: 100vh;
    font-family: sans-serif;
}

.header {
    text-align: center;
    margin: 0;
    background-color: white;
}

.header__title {
    margin: 0;
    padding: 20px 0px;
}

main {
    display: flex;  
    justify-content: space-around;
    color: white;
    margin-top: 15px;
}

.article {
    width: 30%;
    padding: 10px;
    border-radius: 2%;
    background-color: white;
    color: black;
}

